
@import "./core/mixins.scss";

    .btn_info {
        display: flex;
        flex-direction: column;
        min-width: 130px;
        height: 40px;
       
        padding: 5px 10px;
        font-weight: bold;
      cursor: pointer;
        transition: all 0.2s ease;
      position: relative;
        display: inline-block;
        outline: none;
        overflow: hidden;
        border-radius: 5px;
        border: solid 3px black;
        background-color: rgb(138, 1, 1);
        margin-top: 10px;
      }
      .btn_info:hover {
        border-radius: 8px;
        padding-right: 24px;
        padding-left:8px;
      }
      .btn_info:hover:after {
        opacity: 1;
        right: 10px;
      }
      .btn_info:after {
        content: "\00BB";
        position: absolute;
        opacity: 0;
        text-align: center;
        line-height: 40px;
        top: 0;
        right: -20px;
        transition: 0.3s;
         font-size: 30px;
      }
   

.name_p{
 @include p_bold;
 text-transform: uppercase;
border-bottom: 2px solid #650606;
font-size: 30px;
color: rgb(0, 0, 0);
}
.when_p{
    @include p_bold;
text-decoration-line: underline;

 
}
.where_p{

text-decoration-line: underline;

   
    @include p_bold;
 
}
.btn_info{
    @include p_bold;
  
}
.res_p{
  @include result;
  } 
  