@import "./core/mixins.scss";

.principal_pool{
    background-image: url("../images/verano.jpg");
  background-size: contain;
   //background-repeat:repeat;
   background-position: center;
  
}
.pool_li{

    @include li;
    background-image: url(../images/piscina.jpg);
    background-size: cover;
   line-height: 40px;
 
  background-position: center;
}
.pool_ul{
    @include grid;
}
// .pool_filtered{
//   @include grid;
 
  
// }